.archives .archives-list {
  padding: 0;
  list-style: none;
}
.archives .archives-list a:hover {
  text-decoration: none;
}
.archives .archives-list .archives-item {
  margin-bottom: 1.25rem;
}
.archives .archives-list .archive-item {
  margin-bottom: 1.25rem;
}
.archives .archives-list .archive-item a {
  display: grid;
  grid-template-columns: 80px 100px 40%;
}
.archives .archives-list .archive-item a .photo {
  margin-right: 0.625rem;
}
.archives .archives-list .archive-item a .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
}
.archives .archives-list .archive-item a .info p {
  display: block;
  font-size: 12px;
  text-wrap: wrap;
  text-decoration: none;
  margin: 0;
  line-height: 1.5;
}
.archives .archives-list .archive-item a .info .number {
  font-size: 12px;
}
.archives .archives-list .archive-item .item-base {
  display: flex;
}
.archives .archives-list .archive-item .item-base a {
  display: block;
  width: 100%;
}
.archives .archives-list .archive-item .item-base .text {
  flex: 1;
  padding: 0.3125rem 0.625rem;
  background-color: #eee;
  font-size: 0.75rem;
}
.archives .archives-list .archive-item .timer {
  width: 80px;
}
.archives .archives-list .archive-item .timer .day {
  font-size: 1.5rem;
  font-weight: bold;
}
.archives .archives-list .archive-item .timer .month {
  font-size: 0.75rem;
}
.archives .archives-year {
  margin-bottom: 40px;
}
