body {
    margin: 0;
    padding: 0;
    letter-spacing: 1.1px;
    scrollbar-width: thin;
}

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.woff2?t=1686189939224') format('woff2'),
    url('../font/iconfont.woff?t=1686189939224') format('woff'),
    url('../font/iconfont.ttf?t=1686189939224') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, textarea{
    outline: none;
    resize: none;
}