.post-content .links a:hover {
  text-decoration: none
}

.post-content .links {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.post-content .links .item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  transition: .5s all;
}

.post-content .links .item:hover {
  background-color: #f4f4f4;
}

.post-content .links .item .mdui-list-item-avatar {
  width: 48px;
  margin-right: 10px
}

.post-content .links .item .mdui-list-item-avatar img {
  width: 100%;
  border-radius: 8px;
}

.post-content .links .item .desc {
  color: #323232;
  font-size: 14px;
}