@media (max-width: 720px) {

  .mmui {
    width: 100%;
    margin: 0;
  }

  .mmui .header-bar {
    width: 100%
  }

  .comment-respond .row {
    display: block;
  }

  .comment-respond .row .textfield {
    width: 100%;
    margin-bottom: 10px;
  }

  .article-head .banner {
    display: none;
  }

  .article-cart {
    position: relative;
  }

  .article-cart .layout-right .author {
    position: absolute;
    top: 15px;
    left: 55px;
  }
}