@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply bg-slate-100
  }

  .prose {
    word-wrap: break-word;
    text-wrap: wrap;
  }

  .prose{
    &:first-of-type p{
      margin-top: 0;
    }
  }

}